body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6e8ed;
    color: #666666;
    font-family: "Montserrat", sans-serif;
  }
  .img-logo{
    width: 10%;
  }
  .material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
  }
  #openBar{
    cursor: pointer;
  }
  .text-primary {
    color: #666666;
    font-size: 12px;
  }
  #reduce{
    font-size: 18px;
  }
  .text-blue {
    color: #246dec;
  }
  
  .text-red {
    color: #cc3c43;
  }
  
  .text-green {
    color: #367952;
  }
  
  .text-orange {
    color: #f5b74f;
  }
  
  .font-weight-bold {
    font-weight: 600;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "sidebar header header header"
      "sidebar main main main";
    height: 100vh;
  }
  
  
  /* ---------- HEADER ---------- */
  
  .header {
    grid-area: header;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  }
  
  .menu-icon {
    display: none;
  }
  #main-user{
    font-size: 28px;
    color: #246dec;
  }
  
  /* ---------- SIDEBAR ---------- */
  
  #sidebar {
    grid-area: sidebar;
    height: 100%;
    background-color: #21232d;
    color: #9799ab;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .sidebar-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin-bottom: 10px;
  }
  
  .sidebar-title > span {
    display: none;
  }
  
  .sidebar-brand {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 700;
  }
  
  .sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
  }
  
  .sidebar-list-item-1{
    padding: 20px 20px 20px 20px;
  }
  
  .sidebar-list-item-1:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  
  .sidebar-list-item-1 > a, .drop-link {
    text-decoration: none;
    color: #e6e8ed;
  }
  .sub-menu{
    list-style: none;
  }
  .dropdown-btn{
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    color: #e6e8ed;
    font: inherit;
  }
  .fa-angle-down{
    color: #d2d2d3 ;
  }
  .sub-menu{
     transition: 300ms ease-in-out;
  }
  .sub-menu{
    padding-top: 1rem;
    display: grid;
    gap: 1rem;
  }
  
  .sidebar-responsive {
    display: inline !important;
    position: absolute;
    /*
      the z-index of the ApexCharts is 11
      we want the z-index of the sidebar higher so that
      the charts are not showing over the sidebar 
      on small screens
    */
    z-index: 12 !important;
  }
  
  
  /* ---------- MAIN ---------- */
  
  .main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
  }
  .product-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;

  }
 /* .main-product{
   border: #21232d 1px solid;
   width: 90%;
 }
 .add-container{
  border: #21232d 1px solid;
 } */
 .top-head-1{
  border-bottom: #4f35a1 2px solid;
  padding-left: 2rem;
 }
 .top-head-2{
  border-bottom: #4f35a1 2px solid;
  padding-left: 2rem;
 }
 table{
  width: 100%;
  border-collapse: collapse;
}
thead, th{
  background-color: #f6f5fc;
  color: #4f35a1;
}
th{
  border-bottom: #4f35a1 5px solid;
  padding: 5px;
}
tr{
  color: #21232d;
  font-weight: 500;
}
.main-tr:hover{
  background-color: #ffffff;
  transition: 50ms ease-in-out;
}
td{
  padding: 10px;
  cursor: pointer;
}
.btn-container{
  display: flex;
  justify-content: flex-end;
}
.add-new{
  padding: 10px 10px;
  background-color: #4f35a1;
  color: rgb(252, 250, 250);
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 0.5rem;
}
.add-content{
  background-color: #ffffff;
  padding: 20px;
}
input{
  padding: 10px;
  width: 60%;
  margin: 0px 10px;
  outline: none;
  border: 1.5px solid #4f35a1;
  color: gray;
}
 .edit-icon{
  display: flex;
  justify-content: center;
  gap: 10px;
 }
 .fa-circle-check{
  color: rgb(13, 221, 41);
 }
 .fa-hourglass-half{
  color: rgb(224, 228, 17);
 }
 .fa-hourglass-end{
  color: #cc3c43;
 }
 .fa-trash{
   color: #000000;
   cursor: pointer;
 }
 .trash-btn{
  transform: translate(250%, -50%);
 }

 /* Add New Product Pop Up */
 /* POP-UP SECTION */
.register-container{
  width: 100%;
}
.addNew-popup, .update-popup{
   width: 30%;
   background-color: #837f7f;
   border-radius: 6px;
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-40%, -40%) scale(0.1);
   text-align: center;
   padding: 0 30px 30px;
   color: #333;
   visibility: hidden;
   transition: transform 0.4s, top 0.4s;
}
.new-input{
  color: #000000;
}
::placeholder{
  color: #9799ab;
}
.newProduct-openpopup {
   top: 60%;
   visibility: visible;
   transform: translate(-50%, -50%) scale(1);
}


.reg-popup .head-pop {
  color: #000000;
   font-size: 38px;
   margin: 30px 0 10px;
}
.fa-xmark{
  font-size: 30px;
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
  color: #d2d2d3;
  cursor: pointer;
}
.ok-btn{
   height: 30px;
   text-decoration: none;
  margin: auto;
   padding: 15px;
   display: grid;
   place-content: center;
   background-color: #4f35a1;
   color: whitesmoke;
   border: 0;
   outline: none;
   font-size: 18px;
   border-radius: 5px;
   cursor: pointer;
}
.ok-btn:hover{
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
/* Table Pop Up */
.tableProduct-popup-1{
  width: 55%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-0%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.productOne{
  top: 60%;
  visibility: visible;
  transform: translate(-30%, -70%) scale(1);
}
.tableProduct-popup-2{
  width: 55%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-0%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.productTwo{
  top: 60%;
  visibility: visible;
  transform: translate(-30%, -70%) scale(1);
}
.tableProduct-popup-3{
  width: 55%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-0%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.productThree{
  top: 60%;
  visibility: visible;
  transform: translate(-30%, -70%) scale(1);
}
.tableProduct-popup-4{
  width: 55%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-0%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.productFour{
  top: 60%;
  visibility: visible;
  transform: translate(-30%, -70%) scale(1);
}
.tableProduct-popup-5{
  width: 55%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-0%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.productFive{
  top: 60%;
  visibility: visible;
  transform: translate(-30%, -70%) scale(1);
}
.tableProduct-popup-6{
  width: 55%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-0%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.productSix{
  top: 60%;
  visibility: visible;
  transform: translate(-30%, -70%) scale(1);
}
.tableProduct-popup-7{
  width: 55%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-0%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.productSeven{
  top: 60%;
  visibility: visible;
  transform: translate(-30%, -70%) scale(1);
}
.tableProduct-popup-8{
  width: 55%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-0%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.productEight{
  top: 60%;
  visibility: visible;
  transform: translate(-30%, -70%) scale(1);
}
.tableProduct-popup-9{
  width: 55%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-0%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.productNine{
  top: 60%;
  visibility: visible;
  transform: translate(-30%, -70%) scale(1);
}
.tableProduct-popup-10{
  width: 55%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-0%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.productTen{
  top: 60%;
  visibility: visible;
  transform: translate(-30%, -70%) scale(1);
}
.tableProduct-popup-11{
  width: 55%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-0%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.productEleven{
  top: 60%;
  visibility: visible;
  transform: translate(-30%, -70%) scale(1);
}
  /* ---------- SCROLLBARS ---------- */
  
  ::-webkit-scrollbar {
    width: 5px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #4f35a1;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a5aaad;
  }
  
  
  /* ---------- MEDIA QUERIES ---------- */
  
  
  /* Medium <= 992px */
  @media screen and (max-width: 992px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        "header"
        "main";
    }
  
    #sidebar {
      display: none;
    }
  
    .menu-icon {
      display: inline;
    }
  
    .sidebar-title > span {
      display: inline;
    }
  }
  @media (max-width:884px) {
    .product-container{
      display: grid;
      grid-template-columns:auto;
      gap: 30px;
    }
    .add-content{
  background-color: #ffffff;
  padding: 20px;
  width: 50%;
}
.top-head-1{
  border-bottom: #4f35a1 2px solid;
  padding-left: 2rem;
  width: 51%;
 }
 .addNew-popup, .update-popup{
  width: 50%;
}
 .tableProduct-popup-1{
  width: 65%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-0%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.productOne{
  top: 60%;
  visibility: visible;
  transform: translate(-50%, -70%) scale(1);
}
.tableProduct-popup-2{
  width: 65%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-0%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.productTwo{
  top: 60%;
  visibility: visible;
  transform: translate(-50%, -70%) scale(1);
}
.tableProduct-popup-3{
  width: 65%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-0%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.productThree{
  top: 60%;
  visibility: visible;
  transform: translate(-50%, -70%) scale(1);
}
.tableProduct-popup-4{
  width: 65%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-0%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.productFour{
  top: 60%;
  visibility: visible;
  transform: translate(-50%, -70%) scale(1);
}
.tableProduct-popup-5{
  width: 65%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-0%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.productFive{
  top: 60%;
  visibility: visible;
  transform: translate(-50%, -70%) scale(1);
}
.tableProduct-popup-6{
  width: 65%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-0%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.productSix{
  top: 60%;
  visibility: visible;
  transform: translate(-50%, -70%) scale(1);
}
.tableProduct-popup-7{
  width: 65%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-0%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.productSeven{
  top: 60%;
  visibility: visible;
  transform: translate(-50%, -70%) scale(1);
}
.tableProduct-popup-8{
  width: 65%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-0%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.productEight{
  top: 60%;
  visibility: visible;
  transform: translate(-50%, -70%) scale(1);
}
.tableProduct-popup-9{
  width: 65%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-0%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.productNine{
  top: 60%;
  visibility: visible;
  transform: translate(-50%, -70%) scale(1);
}
.tableProduct-popup-10{
  width: 65%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-0%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.productTen{
  top: 60%;
  visibility: visible;
  transform: translate(-50%, -70%) scale(1);
}
.tableProduct-popup-11{
  width: 65%;
  background-color: whitesmoke;
  border: 1px black solid;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-0%, -20%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}
.productEleven{
  top: 60%;
  visibility: visible;
  transform: translate(-50%, -70%) scale(1);
}
.trash-btn{
  transform: translate(200%, -50%);
 }
  }
  @media (max-width:834px) {
    .trash-btn{
      transform: translate(170%, -50%);
     }
  }
  /* Small <= 768px */
  @media screen and (max-width: 768px) {
    .main-cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }
  }
  
  /* Extra Small <= 576px */
  @media screen and (max-width: 576px) {
    #checkout{
      display: none;
    }
  }
  @media (max-width:430px) {
    .add-content{
      background-color: #ffffff;
      padding: 20px;
      width: 85%;
    }
    .productOne, .productTwo, .productFive, .productSix, .productTen, .productEleven{
      top: 60%;
      visibility: visible;
      transform: translate(-50%, -40%) scale(1);
    }
    .top-head-1{
      border-bottom: #4f35a1 2px solid;
      padding-left: 2rem;
      width: 87%;
     }
     .header-right{
      visibility: hidden;
    }
    .header-left{
      text-align: center;
    }
     .addNew-popup, .update-popup{
      width: 60%;
    }
    .trash-btn{
      transform: translate(60%, -50%);
     }
     #myTable{
      width: 100%;
     }
    #myTable #myTableHead{
      display: none;
    }
    #myTable tr, #myTable td{
      display: block;
      /* width: 100%; */
    }
    #myTable tbody tr td{
      text-align: right;
    }
    #myTable td::before{
      content: attr(data-table);
      position: absolute;
      left: 0;
      padding-left: 40px;
      font-size: 14px;
  }
  }
  @media (max-width:390px) {
    .productOne, .productTwo, .productThree,
    .productFour, .productFive, .productSix, 
    .productSeven, .productEight, .productNine,
    .productTen, .productEleven
    {
      top: 70%;
    }
    .header-left{
      font-size: 23px;
    }
    .edit-icon{
      font-size: 12px;
    }
  }
  @media (max-width:320px) {
    .header-left{
      font-size: 20px;
    }
    .productOne, .productTwo, .productFive, .productSix, .productTen, .productEleven{
      top: 60%;
      visibility: visible;
      transform: translate(-50%, -20%) scale(1);
    }
  }